* {
  font-family: Poppins , sans-serif;
  margin: 0;
  padding-left: 47px;
  text-align: center;
}

.login-inputs-button {
  align-items: center;
  background-color: rgba(151, 138, 20, 0.616);
  border-radius: 10px;
  box-shadow: 0 10px 10px 8px rgba(82, 78, 78, 0.658);
  display: flexbox;
  height: 350px;
  justify-content: center;
  margin-top: 6%;
  width: 50%;
}

.password {
  border-color: palevioletred;
  border-radius: 10px;
  box-shadow: 0 2px 3px 2px rgba(31, 22, 155, 0.61);
  height: 10px;
  padding: 12px 16px;
  width: 400px;
}

.email {
  border-color: rgb(112, 192, 216);
  border-radius: 10px;
  box-shadow: 0 2px 3px 2px rgba(224, 7, 126, 0.61);
  height: 10px;
  margin-bottom: 30px;
  margin-top: 40px;
  padding: 12px 16px;
  width: 400px;
}

.button-play {
  background-color: rgb(99, 207, 140);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(39, 18, 160, 0.25);
  color: #080808;
  display: flex;
  font-size: 18px;
  height: 40px;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 8px;
  text-align: center;
  width: 210px;
}

.button-play:hover {
  cursor: pointer;
}

/* .button-settings:hover {
  cursor: pointer;
} */

.button-settings {
  align-items: center;
  background-color: rgb(20, 137, 158);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  font-size: 15px;
  height: 40px;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 8px;
  text-align: center;
  width: 210px;
}

.label-email {
  font-weight: 600;
  padding-right: 30px;
}

.label-name {
  font-weight: 600;
  padding-right: 30px;
}
